<div id="create-note">
    <main>
        <div class="form">
            <div class="col-12">
                <label class="input__label">Title</label>
                <input class="input">
            </div>

            <div class="col-12">
                <label class="input__label">Description</label>
                <textarea class="input"></textarea>
            </div>

            <div class="col-12">
                <label class="input__label">Priority</label>
                <input class="input">
            </div>

            <div class="col-12">
                <label class="input__label">Finish Date</label>
                <input class="input">
            </div>

            <div class="col-12 form__btn-section">
                <button class="btn btn__form">Save</button>
                <button id="edit__cancel" class="btn btn__form">Cancel</button>
            </div>
        </div>
    </main>
</div>