<div id="details">
    <main>
        <div class="form">
            <div class="col-12">
                <label class="input__label">Title</label>
                <input class="input">
            </div>

            <div class="col-12">
                <label class="input__label">Description</label>
                <textarea class="input"></textarea>
            </div>

            <div class="col-12">
                <label class="input__label">Priority</label>
                <input class="input">
            </div>

            <div class="col-12">
                <label class="input__label">Finish Date</label>
                <input class="input">
            </div>

            <div class="col-12">
                <label class="input__label">Priority</label>
                <div class="prio">
                    <label class="prio__icon" for="details__prio1">⚡</label>
                    <input type="radio" class="prio__radio" id="details__prio1" name="prio" checked>
                    <label class="prio__icon" for="details__prio2">⚡</label>
                    <input type="radio" class="prio__radio" id="details__prio2" name="prio">
                    <label class="prio__icon" for="details__prio3">⚡</label>
                    <input type="radio" class="prio__radio" id="details__prio3" name="prio">
                    <label class="prio__icon" for="details__prio4">⚡</label>
                    <input type="radio" class="prio__radio" id="details__prio4" name="prio">
                    <label class="prio__icon" for="details__prio5">⚡</label>
                    <input type="radio" class="prio__radio" id="details__prio5" name="prio">
                </div>
            </div>

            <div class="col-12">
                <label class="input__label">Done</label>
                <div class="check">
                    <input id="details__done" type="checkbox" class="check__checkbox">
                    <label for="details__done" class="check__icon"></label>
                </div>
            </div>

            <div class="col-12 form__btn-section">
                <button class="btn btn__form">Save</button>
                <button id="details__cancel" class="btn btn__form">Cancel</button>
            </div>
        </div>
    </main>
</div>