<div id="home">
    <header class="header">
        <div class="row">
            <button class="col-1 btn">By finish Date</button>
            <button class="col-1 btn">By create Date</button>
            <button class="col-1 btn">By Importance</button>
            <div class="col-1"></div>
            <button class="col-1 btn">Show finished</button>
            <button class="col-1 btn btn--round btn--header btn--alert" onclick="Home.openCreateNote()">
                +
            </button>
        </div>
    </header>

    <button class="col-1 btn btn-primary">Test button</button>

</div>