<div id="home">
    <header class="header">
        <div class="row">
            <button class="col-1">By finish Date</button>
            <button class="col-1">By create Date</button>
            <button class="col-1">By Importance</button>
            <div class="col-1"></div>
            <button class="col-1">Show finished</button>
            <button class="col-1 btn--round btn--header btn--alert text-light" onclick="Home.openCreateNote()">
                +
            </button>
        </div>
    </header>
</div>