.btn {
  &--round {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    height: 56px;
    width: 56px;
    border: none;
    border-radius: 50%;
  }
  &--header {
    align-self: flex-end;
    margin-bottom: -28px;
    margin-left: 9%;
    margin-right: 4%;
  }
  &--alert {
    background-color: $red;
  }
}