.btn {
  box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  line-height: 2.5;
  margin: 4px 16px;
  padding: 0 16px;
  color: $white;
  background-color: $blue;

  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
  }

  &--round {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    height: 56px;
    width: 56px;
    min-width: 56px;
    border-radius: 50%;
    padding: 0;

  }
  &--header {
    align-self: flex-end;
    margin-bottom: -28px;
    z-index: 10;
    margin-left: auto;
  }
  &--alert {
    background-color: $red;
  }

  &--form {
    float: right;
  }
}