.card {
  background-color: $white;
  min-height: 60px;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
  align-items: baseline;

  &--header {
    margin-top: 3em;
    align-items: center;
  }
}