.check {
  &__label {
    color: white;
    cursor: pointer;
  }

  &__icon {
    @extend .fa;
    @extend .fa-check;
    cursor: pointer;
    color: transparent;
    border: 2px solid $lightblue;
    border-radius: 3px;
    margin: 2px;
    width: 1em;
    height: 1em;

    &:hover {
      border: 2px solid $blue;
    }
  }

  &__checkbox:checked + &__icon {
    color: white;
    background-color: $lightblue;
  }

  &__checkbox:checked + &__icon:hover {
    background-color: $blue;
  }

  &__checkbox {
    display: none;
  }

  &.check--light {
    .check {
      &__icon:hover {
        border: 2px solid white;
      }

      &__checkbox:checked + .check__icon {
        color: $blue;
        background-color: $lightblue;
      }

      &__checkbox:checked + .check__icon:hover {
        border: 2px solid white;
        color: $blue;
        background-color: white;
      }
    }
  }
}

.theme-dark {
  .check {
    &__icon {
      border-color: grey;

      &:hover {
        border-color: black;
      }
    }

    &__checkbox:checked + .check__icon {
      color: white;
      background-color: grey;
    }

    &__checkbox:checked + .check__icon:hover {
      background-color: black;
    }

    &.check--light {
      .check {

        &__icon:hover {
          border-color: white;
        }

        &__checkbox:checked + .check__icon {
          color: black;
          background-color: $darkgrey;
          border-color: $darkgrey;
        }

        &__checkbox:checked + .check__icon:hover {
          border-color: white;
          color: black;
          background-color: white;
        }
      }
    }
  }
}