.check .check {
  &__icon {
    display: inline-block;
    border: 2px solid $blue;
    border-radius: 3px;
    margin: 2px;
    width: 1em;
    height: 1em;
  }
  &__checkbox:checked +.check__icon {
    background-color: $lightblue;
  }
  &__checkbox {
    display: none;
  }
}