.prio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 0.2em;

  &__radio {
    display: none;
  }

  &__icon {
    @extend .fa;
    @extend .fa-bolt;
    @extend .fa-lg;
    padding: 1px;
    width: 1em;
    color: $darkgrey;
    font-size: 1em;
    cursor: pointer;
  }

  &__radio:checked ~ .prio__icon {
    color: $lightblue;
  }

  &__icon:hover,
  &__icon:hover ~ .prio__icon,
  &__radio:checked ~ .prio__icon:hover,
  &__radio:checked ~ .prio__icon:hover ~ .prio__icon {
    color: $blue;
  }
}

.theme-dark {
  .prio__icon {
    color: #c3c3c3;
  }

  .prio {
    &__radio:checked ~ .prio__icon {
      color: #696969;
    }

    &__icon:hover,
    &__icon:hover ~ .prio__icon,
    &__radio:checked ~ .prio__icon:hover,
    &__radio:checked ~ .prio__icon:hover ~ .prio__icon {
      color: black;
    }
  }
}