#style-switcher {
  display: inline-block;
  position: absolute;
  color: $lightblue;
  margin: 0.2em;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

.theme-dark {
  #style-switcher {
    color: $darkgrey;

    &:hover {
      color: white;
    }
  }
}