/*---
title:   Grid
section: Layout
---
Grid layout can be applied to any element. Grid layout is based on 6 columns.
```example:html
<div class="row">
    <div class="col-1"><p>col-1</p></div>
    <div class="col-2"><p>col-2</p></div>
    <div class="col-3"><p>col-3</p></div>
</div>
```
*/

.row {
  width: 100%;

  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.col {
  &-1 {
    width: 16.66%;
  }

  &-2 {
    width: 33.33%;
  }

  &-3 {
    width: 50%;
  }

  &-4 {
    width: 66.66%;
  }

  &-5 {
    width: 83.33%;
  }

  &-6 {
    width: 100%;
  }
}

[class*='col-'] {
  float: left;
  min-height: 1px;
}

