.row {
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;

  &--items-flex-end {
    align-items: flex-end;
  }
}

.col {
  &-1 {
    width: 16.66%;
  }

  &-2 {
    width: 33.33%;
  }

  &-3 {
    width: 50%;
  }

  &-4 {
    width: 66.66%;
  }

  &-5 {
    width: 83.33%;
  }

  &-6 {
    width: 100%;
  }
}


